*{
  margin: 0;
  padding: 0;
}
header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

}
.MainNav{
  float: right;
  list-style: none;
  margin-top: 30px;
}
.MainNav li{
  display: inline-block;
}
.MainNav li a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: serif;
  font-size: 15px;
}
.MainNav li.Active a {
  border: 1px solid white;
}
.MainNav li a:hover {
  border: 1px solid white;
}
.Icon img{
  width: 150px;
  height: auto;
  float: left;
  margin-top: 5px;
}
body{
  font-family: monospace;
}
.Row{
  max-width: 1200px;
  margin: auto;
}
.Hero{
  position: absolute;
  width: 1350px;
  margin-left: 0px;
  margin-top: 0px;
}
h1{
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin-top: 300px;
}
.Button{
  margin-top: 30px;
  margin-left: 520px;
}
.BTN{
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  text-transform: uppercase;

}
.Button1{
  background-color: darkorange;
  font-family: "Roboto",sans-serif;
}
.Button2{
  font-family: "Roboto",sans-serif;
}
.Button2:hover{
  background-color: darkorange;
  transition: all 0.5s ease-in;
}
